BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 80
SpaceBeforeParens: Never
AllowShortFunctionsOnASingleLine: Inline
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
PenaltyExcessCharacter: 10
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakFirstLessLess: 100
PenaltyBreakString: 100
